
body {
  margin: 0;
  overflow-x: hidden;
}


#panel {
  height: 100vh;
  aspect-ratio: 4 / 3;
  width: auto;

  background-color: aliceblue;
}

#clock {
  background-color: black;
  width: 35%;
  height: 12.5%;
  padding-top: %;
}